/ {
	chosen {
		zephyr,bt-snoop-uart = &uart0;

		zephyr,console = &uart1;
		zephyr,shell-uart = &uart1;
		zephyr,uart-mcumgr = &uart1;
		zephyr,bt-mon-uart = &uart1;
		zephyr,bt-c2h-uart = &uart1;
	};
};

&uart1 {
	status = "okay";
};