/* OLED display */
/ {
	chosen {
		zephyr,display = &ssd1306_72x40;
	};
};

&i2c0 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;

	pinctrl-0 = <&i2c0_default>;
	pinctrl-names = "default";

	ssd1306_72x40: ssd1306@3c {
		/* compatible = "sinowealth,sh1106"; */
		compatible = "solomon,ssd1306fb";
		reg = <0x3c>;
		width = <72>;
		height = <40>;
		segment-offset = <28>;
		page-offset = <0>;
		display-offset = <0>;
		multiplex-ratio = <0x27>;
		prechargep = <0x22>;
		ready-time-ms = <10>;
		segment-remap;
		com-invdir;
		use-internal-iref;
		use-alternative-write;
	};
};


&pinctrl {
	i2c0_default: i2c0_default {
		group1 {
			pinmux = <I2C0_SDA_GPIO5>,
				 <I2C0_SCL_GPIO6>;
			bias-pull-up;
			drive-open-drain;
			output-high;
		};
	};
};
